table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

img {
  max-width: 50px; /* Adjust as needed */
  height: auto;
}

.actions {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.edit-button, .delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin:15px;
  cursor: pointer;
}

.edit-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
}

.edit-button:hover {
  background-color: #45a049;
}

.delete-button:hover {
  background-color: #d32f2f;
}
